/* service.css */
@media(min-width:1000px){
.service .bing{
  border-radius: 50%;
  border:1px solid #ccc;
  text-align: center;
  padding:25% 0;
  margin:10% 0;
}
.service .bing a{
  display: block;
  font-size: 2em;
}
.service .bing span {
  margin:20px auto;
  font-size:1em;
  color:#ccc;
}
.service .bing span::after{
  content: "";
  display: block;
  margin: 20px auto;
  width:35%;
  border-bottom: 1px solid #F13B0B;
}
}
@media(max-width:1000px){
  .service .bing{
    /* border:1px dashed #ccc; */
    padding:5px 0;
  }
}
.service .an{
 background-image: url(../img/an3.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
 padding: 2% 0;
 margin:7% 0;
}
.service .an h1,.service .an p{
  color:#fff;
}
.service .detail p{
  font-size: 1.2em;
  line-height: 1.5;
  padding-top:5%;
}
.service .detail span{
  color:#F13B0B;
}